@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Nanum+Gothic&family=Roboto+Slab&display=swap');

nav{
    font-family: 'Roboto Slab', serif;
    padding-right: 50px;
    margin-top: 10px;
    
}

.links{
    color: rgb(17, 8, 41);
    font-size: larger;
}