@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Nanum+Gothic&family=Roboto+Slab&display=swap');

.tours{
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    background-color: #5C8984;
    box-shadow: 8px 8px #c6c7ce;
    width: 300px;
    height: 400px;
    margin: 10px;
}

img{
    border-radius: 10%;
    width: 250px;
    height: 300px;
}

h3{
    font-family: 'Roboto Slab', serif;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    
}